<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
	th:replace="~{fragments/page_head :: page_head('500 Error - Shopmmt Admin', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>
		 <div class="d-flex align-items-center justify-content-center">
            <div class="text-center mb-2">
            	<img th:src="@{/images/500.jpg}" alt="500 error image">
                <h1 class="display-1 fw-bold">500</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Đã xảy ra lỗi ở phía máy chủ khi thực hiện yêu cầu này.</p>
                <a th:href="@{/}" class="btn btn-primary rounded-pill">Quay lại trang chủ</a>
            </div>
        </div>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>
</html>