<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{fragments/page_head :: page_head(${pageTitle}, 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>
		<div th:replace="~{fragments/search_form :: search_form}"></div>
		<div th:replace="~{fragments/breadcrumb :: content}"></div>

		<div class="row mb-4 text-center">
			<th:block th:each="cat : ${category.children}">
				<div
					class="col-sm-2 mt-2"
					th:if="${cat.enabled == true}"
				>
					<a
						class="text-decoration-none"
						th:href="@{'/c/' + ${cat.name}}"
					>
						<img
							th:src="@{${cat.photosImagePath}}"
							alt="category image"
							width="100px"
							height="100px"
							class="image-border-shadow"
						/>
						<br />
						<b>[[${cat.name}]]</b>
					</a>
				</div>
			</th:block>
		</div>

		<div class="row mt-4">
			<th:block th:each="product : ${listProducts}">
				<div th:replace="~{products/product_fragment :: content}"></div>
			</th:block>
		</div>

		<div
			th:replace="~{fragments/pagination :: pagination('/c/' + ${category.name}, 'product')}"
		></div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>
</html>