<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div
		th:fragment="content"
		th:remove="tag"
	>
		<div class="m-2">
			<label>Mô tả tổng quát:</label>
			<textarea
				class="form-control"
				th:field="*{shortDescription}"
				rows="5"
			></textarea>
			<span
				th:if="${#fields.hasErrors('shortDescription')}"
				th:errors="${productDTO.shortDescription}"
				class="text-danger"
			>Short description Error</span>
		</div>
		
		<div class="m-2">
			<label>Mô tả chi tiết:</label>
			<textarea
				class="form-control"
				th:field="*{fullDescription}"
				rows="10"
			></textarea>
			<span
				th:if="${#fields.hasErrors('fullDescription')}"
				th:errors="${productDTO.fullDescription}"
				class="text-danger"
			>Full description Error</span>
		</div>
	</div>
</body>
</html>