<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
	th:replace="~{fragments/page_head :: page_head('Shopmmt - Quản lí sản phẩm', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>

		<h2 class="mt-2">Quản lý sản phẩm</h2>

		<th:block
			sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng')"
		>
			<a
				th:href="@{/products/new}"
				class="fa-solid fa-plus fa-2x"
				title="Thêm mới sản phẩm"
			></a>
		</th:block>

		<div class="row mt-1">
			<form
				id="searchForm"
				class="col-sm-12 d-flex align-items-center"
				th:action="@{/products/page/1}"
			>
				<input
					type="hidden"
					name="sortField"
					th:value="${sortField}"
				/>
				<input
					type="hidden"
					name="sortDir"
					th:value="${sortDir}"
				/>
				Danh mục:&nbsp;
				<select
					class="form-select w-25"
					name="categoryId"
					id="dropdownCategory"
				>
					<option value="0">Tất cả</option>

					<th:block th:each="category : ${listCategories}">
						<option
							th:value="${category.id}"
							th:selected="(${categoryId} == ${category.id})"
						>[[${category.name}]]</option>
					</th:block>
				</select>
				&nbsp;Tìm kiếm:&nbsp;
				<input
					name="keyword"
					th:value="${keyword}"
					class="form-control mr-2 w-25"
					type="search"
					placeholder="Từ khóa..."
					aria-label="Search"
				/>
				&nbsp;
				<button
					class="btn btn-outline-success d-block ml-2 mr-2"
					type="submit"
					id="btnSearch"
					title="Tìm kiếm"
				>
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
				&nbsp;
				<button
					type="button"
					class="btn btn-outline-secondary"
					title="Xóa"
					onclick="clearFilter()"
				>
					<i class="fa-solid fa-broom"></i>
				</button>
			</form>
		</div>

		<div th:replace="~{fragments/alert_message_box :: alert_message_box}"></div>

		<!-- Chỉnh lại CSS -->
		<div class="full-details mt-2">
			<table
				class="table table-responsive-xl table-bordered table-striped table-hover"
			>
				<thead class="table-dark">
					<tr class="text-center">
						<th
							th:replace="~{fragments/column_link :: column_link('/products', 'id', 'ID')}"
						/>
						<th>Hình ảnh</th>
						<th
							th:replace="~{fragments/column_link :: column_link('/products', 'name', 'Tên sản phẩm')}"
						/>
						<th
							th:replace="~{fragments/column_link :: column_link('/products', 'brand', 'Thương hiệu')}"
						/>
						<th
							th:replace="~{fragments/column_link :: column_link('/products', 'category', 'Danh mục')}"
						/>
						<th:block
							sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng')"
						>
							<th>Khả dụng</th>
						</th:block>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${listProducts}">
						<td class="text-center">[[${product.id}]]</td>
						<td class="d-flex justify-content-center align-items-center">
							<img
								th:src="@{${product.mainImagePath}}"
								style="width: 120px"
								class="img-fluid"
							/>
						</td>
						<td>
							<a
								class="link-detail text-decoration-none"
								th:href="@{'/products/detail/' + ${product.id}}"
								title="Xem chi tiết"
							>[[${product.name}]]</a>
						</td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<th:block
							sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng')"
						>
							<td class="text-center">
								<div
									th:replace="~{fragments/enabled_status :: enabled_status(${product.enabled}, 'sản phẩm', '/products/' + ${product.id})}"
								></div>
							</td>
						</th:block>
						<td class="text-center">
							<a
								th:href="@{'/products/detail/' + ${product.id}}"
								class="fa-solid fa-circle-info fa-xl icon-blue link-detail"
								data-bs-toggle="tooltip"
								data-bs-placement="top"
								title="Xem chi tiết sản phẩm này"
							> </a>

							<th:block
								sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng', 'Nhân viên bán hàng')"
							>
							&nbsp;
							<div
									th:replace="~{fragments/edit_delete :: edit('sản phẩm', '/products/showEdit/' + ${product.id})}"
								></div>
							</th:block>

							<th:block
								sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng')"
							>
							&nbsp;
							<div
									th:replace="~{fragments/edit_delete :: delete('sản phẩm', ${product.id}, '/products/delete/' + ${product.id}, true)}"
								></div>
							</th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Responsive -->
		<div class="less-details">
			<div
				th:each="product : ${listProducts}"
				class="row m-1"
			>
				<div class="col-4">
					<img
						th:src="@{${product.mainImagePath}}"
						style="width: 80px"
						class="img-fluid"
					/>
				</div>
				<div class="col-8">
					<div>
						<a
							class="link-detail text-decoration-none"
							th:href="@{'/products/detail/' + ${product.id}}"
							title="Xem chi tiết"
						>[[${product.name}]]</a>
					</div>
					<div class="mt-2">
						<a
							th:href="@{'/products/detail/' + ${product.id}}"
							class="fa-solid fa-circle-info fa-xl icon-blue link-detail"
							data-bs-toggle="tooltip"
							data-bs-placement="top"
							title="Xem chi tiết sản phẩm này"
						> </a>

						<th:block
							sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng', 'Nhân viên bán hàng')"
						>
							&nbsp;
							<div
								th:replace="~{fragments/edit_delete :: edit('sản phẩm', '/products/showEdit/' + ${product.id})}"
							></div>
						</th:block>

						<th:block
							sec:authorize="hasAnyAuthority('Admin', 'Nhân viên kho hàng')"
						>
							&nbsp;
							<div
								th:replace="~{fragments/edit_delete :: delete('sản phẩm', ${product.id}, '/products/delete/' + ${product.id}, true)}"
							></div>
						</th:block>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>
		<!-- END Responsive -->

		<div
			th:replace="~{fragments/pagination :: pagination('/products', 'products')}"
		></div>

		<div th:replace="~{fragments/confirm_modal :: confirm_modal}"></div>

		<!-- Modal detail  -->
		<div
			class="modal fade"
			id="detailModal"
		>
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>
		<!-- END Modal detail  -->

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>


	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		const moduleURL = "[[@{/products}]]";

		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});

		$(document).ready(
				function() {
					$(".link-delete").on("click", function(e) {
						e.preventDefault();
						showDeleteConfirmModal($(this), 'sản phẩm');
					});

					$(".link-detail").on(
							"click",
							function(e) {
								e.preventDefault();
								linkDetailURL = $(this).attr("href");
								$("#detailModal").modal("show").find(
										".modal-content").load(linkDetailURL);
							});
					$("#dropdownCategory").on("change", function() {
						$("#searchForm").submit();
					});
				});
	</script>

</body>
</html>