<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{fragments/page_head :: page_head(${pageTitle}, 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>

		<div class="text-center mt-2">
			<h2>Xác minh tài khoản</h2>
			<h4>Bạn đã đăng ký tài khoản thành công</h4>
			<p>Vui lòng kiểm tra email bạn vừa đăng kí để xác minh tài khoản.</p>
			<p>
				<a th:href="@{/login}">Đăng nhập</a>
			</p>
		</div>


		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>
</html>