<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
	th:replace="~{fragments/page_head :: page_head('Trang chủ - Shopmmt Admin', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>
		<div th:replace="~{fragments/alert_message_box :: alert_message_box}"></div>
		
		<div>
			<h1>Shopmmt Admin Trang chủ</h1>
			<span>
				Xin chào
				<a
					sec:authentication="principal.fullname"
					th:href="@{/account}"
				></a>
				<span sec:authentication="principal.authorities"></span>
			</span>
		</div>
		
		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>
</html>