<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge"
>
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0"
>
<title>Cập nhật người dùng ID([[${id}]])</title>
<link
	rel="stylesheet"
	type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
>
<link
	rel="preconnect"
	href="https://fonts.googleapis.com"
>
<link
	rel="preconnect"
	href="https://fonts.gstatic.com"
	crossorigin
>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
	rel="stylesheet"
>
<link
	rel="stylesheet"
	type="text/css"
	th:href="@{/css/style.css}"
>
<script
	type="text/javascript"
	th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
	type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
</head>
<body>
	<div class="container-fluid mt-4">
		<div th:insert="~{fragments/header :: header}"></div>

		<div>
			<h2>Quản lý người dùng | Cập nhật người dùng ID ([[${id}]])</h2>
		</div>

		<form
			th:action="@{/users/edit}"
			th:object="${userDTO}"
			method="post"
			style="max-width: 700px; margin: 0 auto"
			enctype="multipart/form-data"
			onsubmit="return checkEmailUnique(this)"
		>
			<input
				type="hidden"
				th:field="*{id}"
			/>
			<div class="border border-secondary rounded p-3">
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="email"
					>
						E-mail:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-10">
						<input
							type="text"
							class="form-control"
							id="email"
							th:field="*{email}"
						>
						<span
							th:if="${#fields.hasErrors('email')}"
							th:errors="${userDTO.email}"
							class="text-danger"
						>Email Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="lastName"
					>
						Họ đệm:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-10">
						<input
							type="text"
							class="form-control"
							id="lastName"
							th:field="*{lastName}"
						>
						<span
							th:if="${#fields.hasErrors('lastName')}"
							th:errors="${userDTO.lastName}"
							class="text-danger"
						>Last name Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="firstName"
					>
						Tên:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-10">
						<input
							type="text"
							class="form-control"
							id="firstName"
							th:field="*{firstName}"
						>
						<span
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="${userDTO.firstName}"
							class="text-danger"
						>First name Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="password"
					>
						Mật khẩu:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-10">
						<input
							type="password"
							class="form-control"
							id="password"
							th:value="${userDTO.password}"
						>
						<span
							th:if="${#fields.hasErrors('password')}"
							th:errors="${userDTO.password}"
							class="text-danger"
						>Password Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label class="col-sm-2 col-form-label d-flex align-items-center">Vai
						trò:</label>
					<div class="col-sm-10">
						<th:block th:each="role : ${listRoles}">
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									th:id="${role.name}"
									th:value="${role.id}"
									th:field="*{roles}"
								>
								<label
									class="form-check-label"
									th:for="${role.name}"
								>[[${role.name}]]</label>
								-
								<small>[[${role.description}]]</small>
							</div>
						</th:block>
						<span
							th:if="${#fields.hasErrors('roles')}"
							th:errors="${userDTO.roles}"
							class="text-danger"
						>Role Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="firstName"
					>Khả dụng:</label>
					<div class="col-sm-10">
						<div class="form-check form-switch mt-2">
							<input
								class="form-check-input"
								type="checkbox"
								id="flexSwitchCheckChecked"
								th:field="*{enabled}"
							/>
						</div>
						<span
							th:if="${#fields.hasErrors('enabled')}"
							th:errors="${userDTO.enabled}"
							class="text-danger"
						>Enabled Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-2 col-form-label"
						for="firstName"
					>Hình ảnh:</label>
					<div class="col-sm-10">
						<input
							type="hidden"
							th:field="*{photos}"
						/>
						<input
							type="file"
							id="fileImage"
							name="image"
							accept="image/png, image/jpeg"
						/>
						<img
							width="150px"
							class="img-fluid"
							id="thumbnail"
							alt="photo"
							th:src="@{${userDTO.photosImagePath}}"
						/>
					</div>
				</div>
				<div class="text-center">
					<input
						type="submit"
						value="Lưu"
						class="btn btn-primary m-3"
					/>
					<input
						type="button"
						value="Hủy"
						class="btn btn-secondary"
						id="buttonCancel"
					/>
				</div>
			</div>
		</form>

		<!-- Modal  -->
		<div
			class="modal fade text-center"
			id="modalDialog"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4
							class="modal-title"
							id="modalTitle"
						>Cảnh báo</h4>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-danger"
							data-bs-dismiss="modal"
						>Đóng</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END Modal  -->

		<div class="text-center">
			<p>Shopmmt Admin - Copyright &copy; Shopmmt</p>
		</div>
	</div>

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$("#buttonCancel").on("click", function() {
								window.location = "[[@{/users}]]";
							});

							$("#fileImage")
									.change(
											function() {
												fileSize = this.files[0].size;
												if (fileSize > 1048576) {
													this
															.setCustomValidity("Vui lòng chọn tệp có kích thước không vượt quá 1MB!");
													this.reportValidity();
												} else {
													this.setCustomValidity("");
													showImageThumbnail(this);
												}
											});
						});

		function showImageThumbnail(fileInput) {
			const file = fileInput.files[0];
			const reader = new FileReader();
			reader.onload = function(e) {
				$("#thumbnail").attr("src", e.target.result);
			}
			reader.readAsDataURL(file);
		}

		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();
			params = {
				id : userId,
				email : userEmail,
				_csrf : csrfValue
			};

			$
					.post(
							url,
							params,
							function(response) {
								if (response == "OK") {
									form.submit();
								} else if (response == "Duplicated") {
									showModalDialog("Cảnh báo", "Email: "
											+ userEmail
											+ " đã tồn tại! Vui lòng thử lại.")
								} else {
									showModalDialog("Lỗi",
											"Đã xảy ra lỗi không xác định! Vui lòng thử lại.");
								}
							}).fail(
							function() {
								showModalDialog("Lỗi",
										"Không thể kết nối đến máy chủ!");
							});

			return false;
		}

		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal('show');
		}
	</script>
</body>
</html>