<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div
		th:fragment="modal_dialog"
		class="modal fade text-center"
		id="modalDialog"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4
						class="modal-title"
						id="modalTitle"
					>Cảnh báo</h4>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-danger"
						data-bs-dismiss="modal"
					>Đóng</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>