<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="search_form(moduleURL, title)" class="row mt-1">
		<form
			class="col-sm-8 d-flex align-items-center"
			th:action="@{${moduleURL} + '/page/1'}"
		>
			<input
				type="hidden"
				name="sortField"
				th:value="${sortField}"
			/>
			<input
				type="hidden"
				name="sortDir"
				th:value="${sortDir}"
			/>
			<input
				name="keyword"
				th:value="${keyword}"
				class="form-control mr-2 w-75"
				type="search"
				placeholder="Tìm kiếm..."
				aria-label="Search"
			/>
			&nbsp;
			<button
				class="btn btn-outline-success d-block ml-2 mr-2"
				type="submit"
				id="btnSearch"
				title="Tìm kiếm"
			>
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
			&nbsp;
			<button
				type="button"
				class="btn btn-outline-secondary"
				title="Xóa"
				onclick="clearFilter()"
			>
				<i class="fa-solid fa-broom"></i>
			</button>
		</form>
	</div>
</body>
</html>