<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
	th:replace="~{fragments/page_head :: page_head('Shopmmt - Thêm mới người dùng', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>

		<div>
			<h2>Quản lý người dùng | Thêm mới người dùng</h2>
		</div>

		<form
			th:action="@{/users/save}"
			th:object="${userDTO}"
			method="post"
			style="max-width: 700px; margin: 0 auto"
			enctype="multipart/form-data"
			onsubmit="return checkEmailUnique(this)"
		>
			<div class="border border-secondary rounded p-3">
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="email"
					>
						E-mail:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-8">
						<input
							type="text"
							class="form-control"
							id="email"
							th:field="*{email}"
						>
						<span
							th:if="${#fields.hasErrors('email')}"
							th:errors="${userDTO.email}"
							class="text-danger"
						>Email Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="lastName"
					>
						Họ đệm:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-8">
						<input
							type="text"
							class="form-control"
							id="lastName"
							th:field="*{lastName}"
						>
						<span
							th:if="${#fields.hasErrors('lastName')}"
							th:errors="${userDTO.lastName}"
							class="text-danger"
						>Last name Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="firstName"
					>
						Tên:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-8">
						<input
							type="text"
							class="form-control"
							id="firstName"
							th:field="*{firstName}"
						>
						<span
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="${userDTO.firstName}"
							class="text-danger"
						>First name Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="password"
					>
						Mật khẩu:
						<span class="text-danger">(*)</span>
					</label>
					<div class="col-sm-8">
						<input
							type="password"
							class="form-control"
							id="password"
							th:field="*{password}"
						>
						<span
							th:if="${#fields.hasErrors('password')}"
							th:errors="${userDTO.password}"
							class="text-danger"
						>Password Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label class="col-sm-4 col-form-label d-flex align-items-center">Vai
						trò:</label>
					<div class="col-sm-8">
						<th:block th:each="role : ${listRoles}">
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									th:id="${role.name}"
									th:value="${role.id}"
									th:field="*{roles}"
								>
								<label
									class="form-check-label"
									th:for="${role.name}"
								>[[${role.name}]]</label>
								-
								<small>[[${role.description}]]</small>
							</div>
						</th:block>
						<span
							th:if="${#fields.hasErrors('roles')}"
							th:errors="${userDTO.roles}"
							class="text-danger"
						>Role Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="enabled"
					>Khả dụng:</label>
					<div class="col-sm-8">
						<div class="form-check form-switch mt-2">
							<input
								class="form-check-input"
								type="checkbox"
								id="enabled"
								th:field="*{enabled}"
							/>
						</div>
						<span
							th:if="${#fields.hasErrors('enabled')}"
							th:errors="${userDTO.enabled}"
							class="text-danger"
						>Enabled Error</span>
					</div>
				</div>
				<div class="form-group row mb-3">
					<label
						class="col-sm-4 col-form-label"
						for="firstName"
					>Hình ảnh:</label>
					<div class="col-sm-8 d-flex flex-wrap">
						<input
							type="hidden"
							th:field="*{photos}"
						/>
						<input
							type="file"
							id="fileImage"
							name="image"
							accept="image/png, image/jpeg"
						/>
						<span
							th:if="${error != null}"
							class="text-danger"
						>[[${error}]]</span>
						<img
							width="150px"
							class="img-fluid mt-2"
							id="thumbnail"
							alt="photo"
							th:src="@{/images/default-user.png}"
						/>
					</div>
				</div>
				<div class="text-center">
					<input
						type="submit"
						value="Lưu"
						class="btn btn-primary m-3"
					/>
					<input
						type="button"
						value="Hủy"
						class="btn btn-secondary"
						id="buttonCancel"
					/>
				</div>
			</div>
		</form>

		<div th:replace="~{fragments/modal_dialog :: modal_dialog}"></div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>

	<script type="text/javascript">
		const moduleURL = "[[@{/users}]]"
		function checkEmailUnique(form) {
			url = "[[@{/users/check_email}]]";
			userEmail = $("#email").val();
			csrfValue = $("input[name='_csrf']").val();
			params = {
				email : userEmail,
				_csrf : csrfValue
			};

			$
					.post(
							url,
							params,
							function(response) {
								if (response == "OK") {
									form.submit();
								} else if (response == "Duplicated") {
									showModalDialog("Cảnh báo", "Email: "
											+ userEmail
											+ " đã tồn tại! Vui lòng thử lại.")
								} else {
									showModalDialog("Lỗi",
											"Đã xảy ra lỗi không xác định! Vui lòng thử lại.");
								}
							}).fail(
							function() {
								showModalDialog("Lỗi",
										"Không thể kết nối đến máy chủ!");
							});

			return false;
		}

		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal('show');
		}
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>
</html>