<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head
	th:replace="~{fragments/page_head :: page_head('Shopmmt - Quản lí danh mục', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>

		<h2 class="mt-2">Quản lý danh mục</h2>

		<a
			th:href="@{/categories/new}"
			class="fa-solid fa-plus fa-2x"
			title="Thêm mới danh mục"
		></a>
		
		<div
			th:replace="~{fragments/search_form :: search_form('/categories', 'danh mục')}"
		></div>

		<div th:replace="~{fragments/alert_message_box :: alert_message_box}"></div>

		<!-- Chỉnh lại CSS -->
		<div class="mt-2">
			<table
				class="table table-responsive-xl table-bordered table-striped table-hover"
			>
				<thead class="table-dark">
					<tr class="text-center">
						<th>ID</th>
						<th>Hình ảnh</th>
						<th
							th:replace="~{fragments/column_link :: column_link('/categories', 'name', 'Tên danh mục')}"
						/>
						<th>Khả dụng</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td class="text-center">[[${category.id}]]</td>
						<td class="d-flex justify-content-center align-items-center">
							<span
								th:if="${category.photos == null}"
								class="fa-solid fa-cloud"
							></span>
							<img
								width="80px"
								th:if="${category.photos != null}"
								th:src="@{${category.photosImagePath}}"
							/>
						</td>
						<td>[[${category.name}]]</td>
						<td class="text-center">
							<div
								th:replace="~{fragments/enabled_status :: enabled_status(${category.enabled}, 'danh mục', '/categories/' + ${category.id})}"
							></div>
						</td>
						<td class="text-center">
							<div
								th:replace="~{fragments/edit_delete :: edit('danh mục', '/categories/showEdit/' + ${category.id})}"
							></div>
							<div th:replace="~{fragments/edit_delete :: delete('danh mục', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}"></div>
							<!-- <div
								th:replace="~{fragments/edit_delete :: delete('danh mục', ${category.id}, '/categories/' + ${category.id} + '/enabled/false', ${!category.hasChildren})}"
							></div> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			th:replace="~{fragments/pagination :: pagination('/categories', 'categories')}"
		></div>

		<div th:replace="~{fragments/confirm_modal :: confirm_modal}"></div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>


	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		const moduleURL = "[[@{/categories}]]";

		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});

		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'danh mục');
			});
		});
	</script>

</body>
</html>