<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{fragments/page_head :: page_head('Trang chủ - Shopmmt', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>

		<h1>Danh mục</h1>

		<div class="row d-flex align-items-center">
			<div
				class="col"
				th:each="cat : ${listCategories}"
			>
				<div>
					<img
						th:src="@{${cat.photosImagePath}}"
						width="100px"
						height="100px"
						alt="Category Image"
					/>
				</div>
				<div>
					<a class="text-decoration-none" th:href="@{'/c/' + ${cat.name}}">[[${cat.name}]]</a>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>
</body>
</html>