<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="~{fragments/page_head :: page_head('Đặt lại mật khẩu', 'none')}"
></head>
<body>
	<div class="container-fluid mt-4">
		<div th:replace="~{fragments/header :: header}"></div>
		<div th:replace="~{fragments/alert_message_box :: alert_message_box}"></div>
		<section>
			<div class="container py-5 h-100">
				<div
					class="row d-flex justify-content-center align-items-center h-100"
				>
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						<div
							class="card shadow-2-strong"
							style="border-radius: 1rem; background-color: #eaeaea24;"
						>
							<div class="card-body p-4 text-center">
								<img
									alt="logo"
									th:src="@{/images/logo-blue.png}"
									width="100"
									height="100"
								>
								<h3 class="mb-3">Đặt lại mật khẩu</h3>

								<form
									th:action="@{/reset_password}"
									method="post"
								>
									<input
										type="hidden"
										th:value="${token}"
										name="token"
									/>
									<div class="form-outline mb-4">
										<input
											type="password"
											name="newPassword"
											id="newPassword"
											class="form-control form-control-lg"
											placeholder="Mật khẩu mới"
										/>
									</div>

									<div class="form-outline mb-4">
										<input
											type="password"
											name="confirmPassword"
											id="confirmPassword"
											class="form-control form-control-lg"
											placeholder="Xác nhận mật khẩu"
										/>
									</div>

									<button
										class="btn btn-primary btn-lg btn-block rounded-pill w-100 mt-4"
										type="submit"
									>Đổi mật khẩu</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>

</body>
</html>